/* Footer */
.footer{
    background: $main-red;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.footer-nav{
    display: flex;
}
.footer-nav-item{
    margin-right: 48px;
}
.footer-nav-item:nth-last-child(1){
    margin-right: 0;
}
.footer-nav-item a{
    line-height: 48px;
    color:$white;
}
.social-group{
    display: flex;
}
.social-item {
    margin-left: 32px;
}
.social-item:nth-child(1){
    margin-left: 0;
}
.social-icon {
    width: 48px;
    height: 48px;
}
.contact-info{
    padding-bottom: 24px;
    border-bottom: 1px solid $white;
}
.contact-info li{
    font-size: 36px;
    line-height: 48px;
    color: $white;
    margin-bottom: 16px;
}
.contact-info li:nth-last-child(-n+1){
    margin-bottom: 0;
}
.contact-info-icon{
    width: 36px;
    height: 36px;
    margin-right: 22px;
}
.copy{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.copy p{
    color:$white;
}
.copy-group{
    display: flex;
}
.copy-group li {
    margin-left: 32px;
}
.copy-group li:nth-child(1){
    margin-top: 0;
}
.copy-group li a{
    font-size: 14px;
    line-height: 20px;
    color:$white;
}
@media(max-width:767px){
    .footer{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .footer-nav-item{
        margin-right: 40px;
    }
    .social-item {
        margin-left: 24px;
    }
    .social-icon {
        width: 24px;
        height: 24px;
    }
    .contact-info{
        padding-bottom: 20px;
    }
    .contact-info li{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }
    .contact-info-icon{
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    .copy{
        margin-top: 20px;
    }
}
@media(max-width:374px){
    .footer{
        padding-top: 24px;
        padding-bottom: 0;
    }
    .footer-navbar{
        margin-bottom: 0;
    }
    .footer-nav{
        display: none;
    }
    .contact-info{
        position:relative;
        top: -24px;
    }
    .contact-info li{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .contact-info-icon{
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }
    .copy{
        flex-direction: column;
        position: relative;
        top: -24px;
    }
    .copy p{
        font-size: 14px;
        line-height: 20px;
    }
    .copy-group{
        flex-direction: column;
    }
    .copy-group li {
        font-size: 14px;
        line-height: 20px;
        padding-top: 8px;
        margin-left: 0;
    }


}