/*Header*/ 
.header{
    padding: 30px 88px;
	background: $main-red;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.header h1 a{
    width: 88px;
    height: 49px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.nav{
    display: flex;
}
.nav-item{
    margin-left: 64px;
}
.nav-item:nth-child(1){
    margin-left: 0;
}
.nav-item a{
    font-size: 20px;
    line-height: 49px;
    color: white;
}
.nav-item :hover{
    font-weight: bold;
}
@media(max-width:767px){
	.header{
        padding: 30px 39px;
    }
	.nav-item{
        margin-left: 40px;
    }
}
@media(max-width:374px){
    .header{
        flex-direction: column;
        padding: 0;
    }
    .header h1 a{
        width: 48px;
        height: 30px;
        margin: 10px 0;
    }
    .nav{
        width: 100%;
        flex-wrap: wrap;
    }
    .nav-item{
        width: 50%;
        border: 1px solid $white;
        text-align: center;
        margin-left: 0;
    }
    .nav-item a{
        font-size: 20px;
        line-height: 45px;
        color: white;
    }
}