//*共用元素*//
.service h2, .series h2, .joint h2, .guest h2, .contact h2{
    text-align: center;
    margin-bottom: 40px;
}
.area-box{
	padding-top: 60px;
	padding-bottom: 80px;
}
@media(max-width:767px){
    .service h2, .series h2, .joint h2, .guest h2, .contact h2{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
    }
	.area-box{
		padding-top: 40px;
		padding-bottom: 56px;
	}
}
@media(max-width:374px){
    .service h2, .series h2, .joint h2, .guest h2, .contact h2{
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 28px;
    }
	.area-box{
		padding-top: 32px;
		padding-bottom: 40px;
	}
}
//*自訂*// 
/*Banner*/ 
.banner{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 350px 0;
}
.slogan{
    font-size: 36px;
    line-height: 54px;
    text-align: right;
    white-space: nowrap;
}
.slogan span{
    font-size: 64px;
    line-height: 96px;
}
@media(max-width:767px){
    .slogan{
        font-size: 20px;
        line-height: 30px;
    }
    .slogan span{
        font-size: 48px;
        line-height: 72px;
    }
}
@media(max-width:374px){
    .banner{
        background-image: url(../images/banner-sm.png);
        padding: 164px 0;
    }
    .slogan{
        font-size: 16px;
        line-height: 22px;
    }
    .slogan span{
        font-size: 32px;
        line-height: 45px;
    }
}
/*Service*/ 
.service-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-item{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-icon{
    width: 84px;
    height: 84px;
    margin-bottom: 24px;
}
.service h4{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    color: $dark-red;
}
.service-item p{
    text-align: justify;
}
@media(max-width:767px){
    .service-group{
        justify-content: space-around;
    }
    .service-item{
        width: 40%;
        margin-bottom: 40px;
    }
    .service-item:nth-last-child(-n+2){
        margin-bottom: 0;
    }
}
@media(max-width:374px){
    .service-item{
        width: 80%;
        margin-bottom: 40px;
    }
}
/*Series*/ 
.series-group{
    display: flex;
    flex-direction: column;
}
.serie-item{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 32px;
    align-items: center;
}
.serie-item:nth-child(2){
    flex-direction: row-reverse;
}
.serie-item:nth-last-child(-n+1){
    margin-bottom: 0;
}
.series-image{
    width: 60%;
}
.series-name{
    padding-left: 30px;
    display: inline-block;
}
.serie-item h3{
    font-size: 48px;
    line-height: 63px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color:$main-red;
    display: inline-block;
    vertical-align: middle;
}
.serie-icon{
    width: 44px;
    height: 44px;
    display: inline-block;
}
@media(max-width:767px){
    .serie-item{
        margin-bottom: 8px;
    }
    .serie-item:nth-child(2){
        flex-direction: row;
    }
    .serie-item h3{
        font-size: 28px;
        line-height: 37px;
    }
    .serie-icon{
        width: 36px;
        height: 36px;
    }
}
@media(max-width:374px){
    .serie-item{
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
    .serie-item:nth-child(2){
        flex-direction: row;
    }
    .series-image{
        width: 100%;
    }
    .series-name{
        position: absolute;
        padding-left: 0;
    }
}
/*Joint*/ 
.joint{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.joint-group{
    display: flex;
    justify-content: space-between;
}
.joint-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 48%;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.joint-product1{
    background-image: url(../images/product-8.png);
}
.joint-product2{
    background-image: url(../images/product-9.png);
}
.joint-item a  h3{
    font-size: 72px;
    line-height: 108px;
    font-weight: bold;
    color: $main-red;
}
@media(max-width:767px){
    .joint-item{
        height: 278px;
    }
    .joint-item a h3{
        font-size: 32px;
        line-height: 48px;
    }
}
@media(max-width:374px){
    .joint-group{
        flex-direction: column;
    }
    .joint-item{
        width: 100%;
        height: 291px;
    }
    .joint-item:nth-child(1){
        margin-bottom: 16px;
    }
}
/*Guest*/ 
.guest-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.guest-card{
    width: 23%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.photo{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width:100%;
    height: 256px;
    border-radius: 4px 4px 0px 0px;
}
.rec-1{
    background-image: url(../images/rec-1.png);
}
.rec-2{
    background-image: url(../images/rec-2.png);
}
.rec-3{
    background-image: url(../images/rec-3.png);
}
.rec-4{
    background-image: url(../images/rec-4.png);
}
.info{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.name{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}
.date{
    font-size: 14px;
    line-height: 21px;
    color:$gray;
}
@media(max-width:767px){
    .guest-card{
        width: 48%;
        margin-bottom: 32px;
    }
    .guest-card:nth-last-child(-n+2){
        margin-bottom: 0;
    }
}
@media(max-width:374px){
    .guest-card{
        width: 100%;
        margin-bottom: 16px;
    }
    .guest-card:nth-last-child(2){
        margin-bottom: 16px;
    }
    .guest-card:nth-last-child(1){
        margin-bottom: 0;
    }
}
/*Contact*/ 
.contact p{
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 20px;
}
.contact-group{
    display: flex;
    flex-direction: column;
}
.contact label{
    display: inline-block;
    margin-bottom: 16px;
}
.contact label:nth-last-child(-n+1){
    margin-bottom: 0;
}
.contact label input{
    color: $gray;
    background: none;
    width: 100%;
    padding: 16px;
    margin-top: 4px;
    border-width: 1px;
}
.checked{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}
.check-box{
    width: 24px;
    height: 24px;
    border: 1px solid $black;
    border-radius: 4px;
    margin: 0 4px 0 0;
    vertical-align: middle;
}
.btn{
    font-weight: bold;
    color: $white;
    background: $main-red;
    padding: 16px 139px;
    border: 0px;
    margin: 0 auto;
}
.btn:hover{
    background: $dark-red;
}
@media(max-width:767px){
    .contact p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .contact label{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .contact label input{
        font-size: 14px;
        line-height: 20px;
        padding: 12px 8px;
    }
    .checked{
        margin-bottom: 20px;
    }
}
@media(max-width:374px){
    .contact p{
        margin-bottom: 8px;
    }
    .btn{
        font-size: 14px;
        line-height: 20px;
        padding: 10px 55px;
    }
}

