//**共用元素//
.main-box2{
    padding-top: 96px;
    padding-bottom: 160px;
}
.main2-title{
    font-weight: bold;
    padding-left: 16px;
    border-left: 8px solid $main-red;
    margin-bottom: 60px;
}
@media(max-width:767px){
    .main-box2{
        padding-top: 60px;
        padding-bottom: 96px;
    }
    .main2-title{
        font-size: 48px;
        line-height: 67px;
        border-left: 4px solid $main-red;
        margin-bottom: 40px;
    }
}
@media(max-width:374px){
    .main-box2{
        padding-top: 28px;
        padding-bottom: 56px;
    }
    .main2-title{
        font-size: 28px;
        line-height: 40px;
        border-left: 4px solid $main-red;
        margin-bottom: 24px;
    }
}
/*store-select*/ 
.store-select{
    margin-bottom: 32px;
    display: inline-block;
}
.store-select label{
    font-size: 24px;
    line-height: 30px;
    margin-right: 20px;
}
.store-select select{
    width: 324px;
    height: 45px;
    font-size: 18px;
    line-height: 25px;
    padding: 5px 20px;
    border: 1px solid $gray2;
    border-radius: 4px;
}
@media(max-width:767px){
    .store-select{
        margin-bottom: 24px;
    }
    .store-select label{
        font-size: 16px;
        line-height: 30px;
    }
    .store-select select{
        width: 237px;
        height: 45px;
        font-size: 16px;
        line-height: 24px;
    }
}
@media(max-width:374px){
    .store-select{
        margin-bottom: 20px;
    }
    .store-select label{
        font-size: 14px;
        line-height: 20px;
        margin-right: 12px;
    }
    .store-select select{
        max-width: 277px;
        height: 36px;
        font-size: 14px;
        line-height: 20px;
        padding: 8px 16px;
    }
}
/* store-card */
.store-image{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 224px;
}
.store-info-image{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 224px;
}
.store-name{
    font-size: 24px;
    line-height: 36px;
    padding: 12px 24px;
    border: 1px solid $gray2;
}
.store-info{
    border: 1px solid $gray2;
    padding: 12px 24px;
}
.store-info li {
    display: flex;
    margin-bottom: 8px;
}
.store-info li:nth-last-child(-n+1){
    margin-bottom: 0;
}
.store-icon{
    width: 20px;
    height: 20px;
}
.store-item{
    margin-bottom: 8px;
    align-items: center;
}
.store-item:nth-last-child(-n+1){
    margin-bottom: 0;
    align-items: flex-start;
}
.store-info li p{
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin-left: 10px; 
} 
@media(max-width:767px){
    .store-image{
        height: 164px;
    }
    .store-info-image{
        width: 50%;
        height: 164px;
    }
    .store-name{
        font-size: 16px;
        line-height: 24px;
        padding: 8px 24px;
    }
    .store-info{
        padding: 16px 24px;
    }
    .store-info li p{
        font-size: 14px;
        line-height: 21px;
    }
    .store-icon{
        width: 14px;
        height: 14px;
    } 
}
@media(max-width:374px){
    .store-info-image{
        width: 100%;
        height: 164px;
    }
}
//*自訂-store & faq*//  
/* store*/
.store-group{
    display: flex;
    flex-wrap: wrap;
}
.store-card{
    width: 30%;
    margin-right: 30px;
    margin-bottom: 32px;
}
.store-card:nth-child(3n){
    margin-right: 0;
}
.store-card:nth-last-child(-n+2){
    margin-bottom: 0;
}
.store-card a{
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    color: $white;
    background: $black;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media(max-width:767px){
    .store-card{
        width: 47%;
        margin-right: 30px;
        margin-bottom: 20px;
    }
    .store-card:nth-child(2n){
        margin-right: 0;
    }
    .store-card:nth-child(3n){
        margin-right: 30px;
    }
    .store-card:nth-last-child(-n+1){
        margin-bottom: 0;
    }
    .store-card a{
        font-size: 14px;
        line-height: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
@media(max-width:374px){
    .store-card{
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
    .store-card:nth-child(2n){
        margin-right: 0;
        margin-bottom: 16px;
    }
    .store-card:nth-child(3n){
        margin-right: 0;
        margin-bottom: 16px;
    }
    .store-card:nth-last-child(-n+1){
        margin-bottom: 0;
    }
}
.store-1{
    background-image: url(../images/locate1.jpeg);
}
.store-2{
    background-image: url(../images/locate2.jpg);
}
.store-3{
    background-image: url(../images/locate3.jpg);
}
.store-4{
    background-image: url(../images/locate4.jpg);
}
.store-5{
    background-image: url(../images/locate5.jpg);
}
.store-info-group{
    display: flex;
    justify-content: space-between;
}
.store-info-card{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.store-content{
    display: flex;
    flex-direction: column;
}
.store-map{
    width: 58%;
}
@media(max-width:767px){
    .store-info-group{
        flex-direction: column;
    }
    .store-info-card{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    .store-map{
        width: 100%;
        height: 422px;
    }
}
@media(max-width:374px){
    .store-info-group{
        flex-direction: column;
    }
    .store-info-card{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    .store-map{
        height: 211px;
    }
}
/*FAQ*/ 
.faq-title{
    font-size: 32px;
    font-weight: bold;
    line-height: 63px;
    margin-bottom: 36px;
}
.faq-item{
    margin-bottom: 32px;
}
.faq-item:nth-last-child(-n+1){
    margin-bottom: 0;
}
.faq-item h3{
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    margin-bottom: 16px;
}
.faq-item p{
    text-align: justify;
    padding: 0 140px;
}
@media(max-width:767px){
    .faq-title{
        margin-bottom: 32px;
    }
    .faq-item{
        margin-bottom: 24px;
    }
    .faq-item p{
        padding-left: 60px;
        padding-right: 0;
    }
}
@media(max-width:374px){
    .faq-title{
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 24px;
    }
    .faq-item{
        margin-bottom: 20px;
    }
    .faq-item h3{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .faq-item p{
        padding-left: 0;
    }
}