/*Color*/
$main-red: #AA0601;
$dark-red: #650300;
$pink: #AA06010D;
$gray: #707070;
$gray2:#00000020;
$baby-gray: #F2F2F2;
$black: #000000;
$warm-black: #555555;
$white: #FFFFFF;
$pro-brown: #5F3E2D;
$pro-orange: #B75929;